#slides > div >  div{
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0 0;
    background-size: 100% 25%;
   /* background: none; */

   }
   .effectSlide{ animation: animate 1.1s 1 forwards 0s;}
   @keyframes animate{
    from{margin-left: -100% ; width: 50%; }
    to{margin-left: 0% ; width: 100% !important;}
   }

   .activeSlide{opacity: 1 !important;  }
.index{z-index: 50 ;}
.indexPlus{z-index: 60 ;}



  .bgImage1 {
  
      background-image: url(https://tailwindcss.com/_next/static/media/5.e8ff4aa4.jpg) ;
  }
  .bgImage2 {
      background-image: url(https://tailwindcss.com/_next/static/media/beach-house.9b9ee168.jpg);
  }
  .bgImage3 {
      background-image: url(https://www.w3schools.com/css/img_5terre_wide.jpg);
  } 
  .bgImage4 {
      background-image: url(https://www.w3schools.com/css/img_lights.jpg);
  } 

  /* @keyframes background{
    to{z-index: 10;}
  }  */


#thumbnails{
/* background: #5ca45da8; */
border: 2px solid black;
/* box-shadow: 0px 0px 2px 1px #000 inset; */
}
  #thumbnails> div{
        /* flex: 1; */
        border-radius: 5px;
        /* background: dodgerblue; */
        color:white;
        overflow: hidden;
        cursor: pointer;
        /* width: 8%; */
        /* aspect-ratio: 10/2; */
    
    
    
      }
  
      #thumbnails> div:not(:nth-child(1)){
        margin-left: 30px;
     
  
      }
      .progressBar{
        width: 0%;
        height: 5px;
        background: #202020;
       
      }
      .myOpacity{
          opacity: 1 !important;
          transition: 0.3s;
          cursor: default !important;
      }
      .progressBarActive{
      animation: progressAnimate 4s 1 forwards 0s;
    
        
      }
      @keyframes progressAnimate {
        to{width: 100%;}
      }
      #arrow{
        
      }
      .title{

            animation: titleAnimate 0.5s 1 forwards 0s;
      }
      @keyframes titleAnimate {
        from{opacity: 0;top: 50% ;}
        to{opacity: 1 !important;top: 20% ;}
      }




      
  @media only screen and (min-width: 640px) {
    #slides > div > div {
      background-size: 100% 40%;
      /* background: none; */
      /* position: relative; */
    }
  }
  @media only screen and (min-width: 1024px) {
    #slides > div > div {
      background-size: 100% 60%;
      /* background: none; */
      /* position: relative; */
    }
  }